body {
    margin: 20px;
    font-family: Tahoma;
}

.avatar {
    width: 150px;
    box-shadow: 10px 10px 5px #ccc;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #caf0f8;
    color: #d90429;
    border-bottom: 8px solid #0077b6;
    text-shadow: 1px 1px 1px black;
        
}

.card:hover {
    background-color: #d99429;
    
}

.avatar:hover {
    border: 2px solid #d90429;
    border-radius: 10px;
}

.border-blue {
    border: 10px dotted blue;
}


